body {
padding-top: 50px;
/*https://www.sitepoint.com/community/t/how-to-use-myriad-pro/6109/5*/
font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*http://stackoverflow.com/questions/814366/how-can-i-remove-the-outline-around-hyperlinks-images*/
a.sprite {
  outline : none;
  border: 0px;
}

img {
  outline : none;
  border: none;
}

img a {
  outline : none;
}

h3{
  margin-top: 15px;
}

.container-whole{
  padding: 0 0 0 0;
}

.container-body{
  padding: 0 50 50 0;
}

.header-nav{
  color: white;
}

.vert-center{
  margin: 0 auto;
}

.body-row {
  background-color: #ffffff;
  position: relative;
  margin-right: 3px;
  margin-left: 3px;
}

#announcements{
  color: #ff6600;
}

.ad-row{
  background-color: #3399ff;
}

.slider{
  background-color: #3399ff;
}

.navbar-fixed-top{
  background-color: #0099ff;
  color: #ffffff;
}

.navbar{
      margin-bottom: 0px;
      border-radius: 0px;
}

.utility-bar{
  background-image: url("../images/utility_bckgrnd.png");
  background-position: center;
  height: 111px;
  color: black;
  text-align: center;
}

.dashboard{
  background-color: #33cc66;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
}

.gradient{
  background-image: url("../images/gradient.png");
  background-position: center;
  border-radius: 5px;
  height: 200px;
  padding: 15px 15px 15px 15px;
}

.outline {
  border: 1px solid gray;
}

.circlenumbers {
  background-color: #33cc66;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  text-align: center;
}

.userbutton {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.roundcornerbutton {
  border-radius: 5px;
  padding: 5px;
}

.facebook {
  color: white;
  background-color: #003366;
}

.twitter {
  color: white;
  background-color: #3399ff;
}

.foursquare{
  color: white;
  background-color: #336699;
}

.googleplus{
  color: white;
  background-color: #33cc66;
}

.taskrow {
  padding: 10px;
}
